<div class="image">
  <div class="row">
    <div class="col-md-3">
      <div class="left_controls">
        <ul class="work_list">
          <li>
        <div class="select_theme">
          <%= render 'work/button_theme_select', locale: @current_locale %>
        </div>
          </li>
          <li>
        <div class="modal_list_results">
          <%= render 'work/button_list_results', locale: @current_locale %>
          <br/>
        </div>
          </li>
          <li>
        <span class="common_value">
            <%= t('.common_value') %>
          <h2 class="common" title="Common value"></h2>
          </span>
          </li>
          <li>
        <span class="total_values">
            <%= t('.total_values') %>
          <h2 class="total" title="Total values">
              <%= @values_qty.round %>
            </h2>
        </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <div class="image_display">
        <div class="row image">
          <div class="col-md-12">
            <h2 class="up-theme" title="theme_name">
              <%= @selected_theme %>
            </h2>
          </div>
          <div class="col-md-12">
            <h2 class="up" title="Image file name">
              <%= @selected_image_name %>
            </h2>
          </div>
          <div class="col-md-1">
            <div class="img-left-side">
              <h3 title="list to previous image">
                <i class="fa fa-chevron-circle-left strong"></i>
              </h3>
            </div>
          </div>
          <div class="col-md-10">
            <div class="img-center" title="Default image">
              <%= image_tag("default.jpg", alt: "Default Image", title: "Default image", style: "width:50%") %>
            </div>
            <div class="image_user_value" title="Expert value"></div>
          </div>
          <div class="col-md-1">
            <div class="img-right-side">
              <h3 title="list to next image">
                <i class="fa fa-chevron-circle-right"></i>
              </h3>
            </div>
          </div>
        </div>
        <div class="row diag">
          <div class="col-md-12">
            <div class="image_diag">
              <div id="chosen_value">50</div>
              <h2 class="down" title="Value scale">
                <%= t(".make_decision") %>
              </h2>
              <button class="button__results save" title="Save image diag results">
                <a data-remote="true" format="js" href="#" title="Save image diag results">
                  <%= t(".save_decision") %>
                </a>
              </button>
              <p class="left">0%</p>
              <div id="slider">
                <input id="slide" max="100" min="0" step="5" type="range" value="50"></input>
              </div>
              <p class="right">100%</p>
              <br/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
